<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My Website</title>
  <script language="javascript" src="js/angular.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
<link href="css/default.css" type="text/css" rel="stylesheet">
</head>
<body ng-controller="mywebCtrl">
	<div class="info" >
		<div class="image">
			<img src = "./image/son.jpg" alt="Avatar">
		</div>
		<div class="profile" ng-repeat="person in profile">
			<div class="basic" >
				<h3 class="hoten">{{person.name}}</h3>
				<p class="chuvua">{{person.job}} tại {{person.education}}</p>
				 <p><a>{{person.country}}</a> | <a>{{person.work}}</a></p>
			</div>
			<div class="extra">
				<div class="extra1">
					<p><a href="#curr">Current</a></p>
					<p><a href="#prev">Previous</a></p>
					<p><a href="#university">Education</a></p>
				</div>
				<div class="extra2">
					<p>{{person.current}}</p>
					<p>{{person.previous}}</p>
					<p>{{person.education}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="backgr">
		<div class="header">
			<p>Background</p>
		</div>
		 <div class="mucluc">
			<div class="tieude">
				<div class="icon">
					<img src="./image/ex1.png"/>
				</div>
				<div class="content">
		     			<p>Summary</p>
				</div>
			</div>
			<div id="curr" class="description">
			<p>
			   - Thông tin cơ bản: <br>
			   +Họ và tên: Hoàng Thái Sơn<br>
			   +Ngày tháng năm sinh: 06/11/1995<br>
                           +Email: hoangthaison985@gmail.com <br>
                           +Số điện thoại: 01634837660<br>
                           +Ngoại ngữ: Tiếng Anh.<br>
                           <br>
			   - Hiện tại tôi là sinh viên ngành công nghệ thông tin tại trường đại học Khoa Học tự Nhiên, một trong hai trường đại học lớn nhất thành phố Hồ Chí Minh.<br>
                           +Kinh nghiệm làm việc: Chưa có<br>
			   +Khả năng: Tiếp thu nhanh, ham học hỏi, có chí cầu tiến không sợ thất bại.</p>
			<hr>
			</div>
		</div>
		 
		 <div class="mucluc">
		     <div class="tieude">
				<div class="icon">
					<img src="./image/ex.png">
				</div>
				<div id="prev" class="content">
		     			<p>Experience</p>
				</div>
			</div>
			<div   class="description">
                         	<h4>Gia sư tiếng anh</h4>
				<p>Tại gia
				 <br>7/2013 - 7/2015</p>
			 <p>- Nhận dạy kèm các em từ lớp 1 - 11 về môn tiếng anh, bảo đảm bám sát chương trình dạy trên trường/lớp hoặc có nhu cầu học thêm. 
			   Bên cạnh đó cũng nhận kèm các bạn lớp 12 thi tốt nghiệp và đại học môn anh văn khối A1.</p>
			<hr>
			</div>
                 </div>

		<div class="mucluc">
		     <div class="tieude">
				<div class="icon">
					<img src="./image/ex4.jpg">
				</div>
				<div class="content">
		     			<p>Project</p>
				</div>
			</div>
			<div class="description">
                           
                           	<h4>Các đồ án hoàn thành tốt trong học kì trước:</h4>
			   	<p>+ MyPaint 1.2.3 - Lập trình window.<br>
				+ Caro - Lập trình window.<br>
				<br>
			   	<h4> Đồ án chưa được tốt trong học kì trước:</h4>
				<p>+ Quản lý khách sạn - Phân tích và quản lý yêu cầu phần mềm.<br>
			  .</p>
			<hr>
			</div>
                 </div>
		 
		<div class="mucluc">
			<div class="tieude">
				<div class="icon">
					<img src="./image/ex2.jpg"/>
				</div>
				<div class="content">
		     			<p>Skill</p>
				</div>
			</div>
			<div class="skill" ng-repeat="person in profile">
				<p>- Các kĩ năng:</p>
				<span class="score">70+</span><span class="stuff">{{person.skill[0]}}</span></br>
				<span class="score">70+</span><span class="stuff">{{person.skill[1]}}</span></br>
				<span class="score">65</span><span class="stuff">{{person.skill[2]}}</span></br>
				<span class="score">63</span><span class="stuff">{{person.skill[3]}}</span></br>
				<span class="score">62</span><span class="stuff">{{person.skill[4]}}</span></br>
				<span class="score">60</span><span class="stuff">{{person.skill[5]}}</span></br>
				<span class="score">60</span><span class="stuff">{{person.skill[6]}}</span></br>
				<p>- Tôi cũng có biết về: </p>
				<span class="score">65+</span><span class="stuff">{{person.skill[7]}}</span>	     
				<span class="score">52</span><span class="stuff">{{person.skill[8]}}</span>
				<span class="score">45</span><span class="stuff">{{person.skill[9]}}</span>
				<span class="score">30</span><span class="stuff">{{person.skill[10]}}</span>
			<hr>
			</div>
		</div>
		<div class="mucluc">
			<div class="tieude">
				<div class="icon">
					<img src="./image/ex3.jpg"/>
				</div>
				<div id="university" class="content">
		     			<p>Education</p>
				</div>
			</div>
			<div class="description2" ng-repeat="person in profile">
				<div class="school">
                      		<h3>{{person.education}}</h3>
				<p>{{person.specialist}}</p>
				<p>{{person.year}}</p>
				</div>
				<div class="logo">
					<img src = "./image/logo.jpg" alt="logo hcmus">
				</div>
			</div>
			
		</div>
	</div>	
</body>
</html>